In [26]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input/'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

In [27]:
train =  pd.read_csv("E:/Project/incident/train_kaggle.csv") 
test =  pd.read_csv("E:/Project/incident/test_kaggle.csv")

In [28]:
#Unamed : 0 : has index of dataframe
#problem_id, change_request : it has more nan values
train.drop(['Unnamed: 0','problem_ID','change_request'], axis=1 , inplace =True)  
test.drop(['S.No','problem_ID','change_request'], axis=1 , inplace =True)

In [29]:
for col in train.columns:
    train.loc[train[col] == '?', col] = np.nan
for col in train.columns:
    train.loc[train[col] == '-100', col] = np.nan

In [30]:
for col in test.columns:
    test.loc[test[col] == '?', col] = np.nan
for col in test.columns:
    test.loc[test[col] == '-100', col] = np.nan

In [31]:
print('Train :\n',train.isnull().sum(),'\n\nTest :\n',test.isnull().sum())

Train :
 ID                        0
ID_status                 2
active                    0
count_reassign            0
count_opening             0
count_updated             0
ID_caller                22
opened_by              3328
opened_time               0
Created_by            37174
created_at            37174
updated_by                0
updated_at                0
type_contact              0
location                 54
category_ID              56
user_symptom          23139
Support_group          9994
support_incharge      19302
Doc_knowledge             0
confirmation_check        0
impact                    0
notify                    0
dtype: int64

Test :
 ID                        0
ID_status                 3
active                    0
count_reassign            0
count_opening             0
count_updated             0
ID_caller                 7
opened_by              1507
opened_time               0
Created_by            15902
created_at            15902
updated_by                0
updated_at                0
type_contact              0
location                 22
category_ID              22
user_symptom           9825
Support_group          4219
support_incharge       8194
Doc_knowledge             0
confirmation_check        0
notify                    0
dtype: int64

In [32]:
#imputed_train_df['ID_status'].value_counts()

In [33]:
import datetime
train.created_at.replace(to_replace =[np.nan],value ="01-01-2016 00:00", inplace= True)  #contant datevalue
test.created_at.replace(to_replace =[np.nan],value ="01-01-2016 00:00", inplace= True)  #contant datevalue

In [34]:
#Data preprocessing for opened_time , created_at , updated_at	these datetime columns
#we converting into day wies ordinal encoding
#For e.g: 
"""
07-03-2016 11:04    43                                7
07-03-2016 09:25    39                                7
07-03-2016 09:11    38                                7
30-03-2016 09:20    37                                30
30-03-2016 08:20    36                                30
Name: opened_time, dtype: int64

07-03-2016 11:04 same date but timing should be different sso we did day ordinal encoding of those columns (its healps to reducing levels)
"""
train['opened_time']= pd.to_datetime(train['opened_time']) 
train['created_at']= pd.to_datetime(train['created_at']) 
train['updated_at']= pd.to_datetime(train['updated_at']) 
test['opened_time']= pd.to_datetime(test['opened_time']) 
test['created_at']= pd.to_datetime(test['created_at']) 
test['updated_at']= pd.to_datetime(test['updated_at'])

In [35]:
#train.created_at[10]

In [36]:
#opened_time , created_at , updated_at convert into day encoding
train['opened_time_d'] = train['opened_time'].dt.day
train['created_at_d'] = train['created_at'].dt.day
train['updated_at_d'] = train['updated_at'].dt.day
test['opened_time_d'] = test['opened_time'].dt.day
test['created_at_d'] = test['created_at'].dt.day
test['updated_at_d'] = test['updated_at'].dt.day

#Drop these columns
train = train.drop(["opened_time" , "created_at" , "updated_at"], axis=1)
test = test.drop(["opened_time" , "created_at" , "updated_at"], axis=1)

In [37]:
print(train.info(),test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99198 entries, 0 to 99197
Data columns (total 23 columns):
ID                    99198 non-null object
ID_status             99196 non-null object
active                99198 non-null float64
count_reassign        99198 non-null float64
count_opening         99198 non-null float64
count_updated         99198 non-null float64
ID_caller             99176 non-null object
opened_by             95870 non-null object
Created_by            62024 non-null object
updated_by            99198 non-null object
type_contact          99198 non-null object
location              99144 non-null object
category_ID           99142 non-null object
user_symptom          76059 non-null object
Support_group         89204 non-null object
support_incharge      79896 non-null object
Doc_knowledge         99198 non-null float64
confirmation_check    99198 non-null float64
impact                99198 non-null object
notify                99198 non-null object
opened_time_d         99198 non-null int64
created_at_d          99198 non-null int64
updated_at_d          99198 non-null int64
dtypes: float64(6), int64(3), object(14)
memory usage: 17.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42514 entries, 0 to 42513
Data columns (total 22 columns):
ID                    42514 non-null object
ID_status             42511 non-null object
active                42514 non-null float64
count_reassign        42514 non-null float64
count_opening         42514 non-null float64
count_updated         42514 non-null float64
ID_caller             42507 non-null object
opened_by             41007 non-null object
Created_by            26612 non-null object
updated_by            42514 non-null object
type_contact          42514 non-null object
location              42492 non-null object
category_ID           42492 non-null object
user_symptom          32689 non-null object
Support_group         38295 non-null object
support_incharge      34320 non-null object
Doc_knowledge         42514 non-null float64
confirmation_check    42514 non-null float64
notify                42514 non-null object
opened_time_d         42514 non-null int64
created_at_d          42514 non-null int64
updated_at_d          42514 non-null int64
dtypes: float64(6), int64(3), object(13)
memory usage: 7.1+ MB
None None

In [38]:
from sklearn.experimental import enable_iterative_imputer  # noqa
# now you can import normally from sklearn.impute
from sklearn.impute import IterativeImputer
from sklearn.ensemble import ExtraTreesRegressor
#from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import OrdinalEncoder
#NewTrain = NewTrain.drop(['problem_ID','change_request'],axis=1)

In [39]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99198 entries, 0 to 99197
Data columns (total 23 columns):
ID                    99198 non-null object
ID_status             99196 non-null object
active                99198 non-null float64
count_reassign        99198 non-null float64
count_opening         99198 non-null float64
count_updated         99198 non-null float64
ID_caller             99176 non-null object
opened_by             95870 non-null object
Created_by            62024 non-null object
updated_by            99198 non-null object
type_contact          99198 non-null object
location              99144 non-null object
category_ID           99142 non-null object
user_symptom          76059 non-null object
Support_group         89204 non-null object
support_incharge      79896 non-null object
Doc_knowledge         99198 non-null float64
confirmation_check    99198 non-null float64
impact                99198 non-null object
notify                99198 non-null object
opened_time_d         99198 non-null int64
created_at_d          99198 non-null int64
updated_at_d          99198 non-null int64
dtypes: float64(6), int64(3), object(14)
memory usage: 17.4+ MB

In [40]:
#instantiate both packages to use
encoder = OrdinalEncoder()
imputer = IterativeImputer(ExtraTreesRegressor())
# create a list of categorical columns to iterate over
cat_cols = ['ID','ID_status','ID_caller','opened_by','Created_by','updated_by','type_contact','location','category_ID','user_symptom','Support_group','support_incharge','impact','notify']

def encode(data):
    '''function to encode non-null data and replace it in the original data'''
    #retains only non-null values
    nonulls = np.array(data.dropna())
    #reshapes the data for encoding
    impute_reshape = nonulls.reshape(-1,1)
    #encode date
    impute_ordinal = encoder.fit_transform(impute_reshape)
    #Assign back encoded values to non-null values
    data.loc[data.notnull()] = np.squeeze(impute_ordinal)
    return data

#create a for loop to iterate through each column in the data
for columns in cat_cols:
    encode(train[columns])

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [41]:
train

,ID,ID_status,active,count_reassign,count_opening,count_updated,ID_caller,opened_by,Created_by,updated_by,...,user_symptom,Support_group,support_incharge,Doc_knowledge,confirmation_check,impact,notify,opened_time_d,created_at_d,updated_at_d
0,0,6,1.0,0.0,0.0,0.0,1455,200,151,94,...,491,46,NaN,1.0,0.0,1,0,29,29,29
1,0,7,1.0,0.0,0.0,3.0,1455,200,151,585,...,491,46,NaN,1.0,0.0,1,0,29,29,29
2,0,5,0.0,0.0,0.0,4.0,1455,200,151,681,...,491,46,NaN,1.0,0.0,1,0,29,29,3
3,1,0,1.0,1.0,0.0,1.0,1455,120,58,94,...,344,14,164,1.0,0.0,1,0,29,29,29
4,1,0,1.0,1.0,0.0,2.0,1455,120,58,94,...,344,14,164,1.0,0.0,1,0,29,29,29
5,1,0,1.0,1.0,0.0,4.0,1455,120,58,504,...,344,14,164,1.0,0.0,1,0,29,29,29
6,1,0,1.0,1.0,0.0,5.0,1455,120,58,197,...,344,14,164,1.0,0.0,1,0,29,29,3
7,1,3,1.0,1.0,0.0,6.0,1455,120,58,197,...,344,14,220,1.0,0.0,1,0,29,29,3
8,1,5,0.0,1.0,0.0,8.0,1455,120,58,681,...,344,14,220,1.0,0.0,1,0,29,29,3
9,2,6,1.0,0.0,0.0,0.0,3522,200,NaN,94,...,344,62,NaN,1.0,0.0,1,0,29,1,29
10,2,6,1.0,0.0,0.0,1.0,3522,200,NaN,94,...,344,62,NaN,1.0,0.0,1,0,29,1,29
11,2,6,1.0,0.0,0.0,2.0,3522,200,NaN,295,...,344,62,NaN,1.0,0.0,1,0,29,1,29
12,2,6,1.0,0.0,0.0,3.0,3522,200,NaN,94,...,344,62,NaN,1.0,0.0,1,0,29,1,3
13,2,7,1.0,0.0,0.0,5.0,3522,200,NaN,94,...,344,62,194,1.0,0.0,1,0,29,1,3
14,2,5,0.0,0.0,0.0,6.0,3522,200,NaN,681,...,344,62,194,1.0,0.0,1,0,29,1,3
15,3,6,1.0,0.0,0.0,0.0,3592,34,170,203,...,323,15,27,1.0,0.0,1,0,29,29,29
16,3,0,1.0,0.0,0.0,1.0,3592,34,170,303,...,323,15,27,1.0,0.0,1,0,29,29,3
17,3,7,1.0,0.0,0.0,2.0,3592,34,170,303,...,323,15,27,1.0,0.0,1,0,29,29,3
18,3,5,0.0,0.0,0.0,3.0,3592,34,170,681,...,323,15,27,1.0,0.0,1,0,29,29,3
19,4,6,1.0,0.0,0.0,0.0,2859,34,170,203,...,116,62,NaN,1.0,0.0,1,0,29,29,29
20,4,6,1.0,0.0,0.0,1.0,2859,34,170,203,...,116,62,NaN,1.0,0.0,0,0,29,29,29
21,4,6,1.0,1.0,0.0,2.0,2859,34,170,203,...,116,13,NaN,1.0,0.0,0,0,29,29,29
22,4,6,1.0,1.0,0.0,4.0,2859,34,170,585,...,116,13,NaN,1.0,0.0,0,0,29,29,29
23,4,6,1.0,1.0,0.0,5.0,2859,34,170,121,...,116,13,NaN,1.0,0.0,0,0,29,29,29
24,4,5,0.0,1.0,0.0,7.0,2859,34,170,681,...,116,13,NaN,1.0,0.0,0,0,29,29,3
25,5,6,1.0,0.0,0.0,0.0,1193,34,170,203,...,344,62,NaN,1.0,0.0,1,0,29,29,29
26,5,6,1.0,0.0,0.0,3.0,1193,34,170,416,...,344,62,NaN,1.0,0.0,1,0,29,29,29
27,5,6,1.0,1.0,0.0,4.0,1193,34,170,416,...,344,13,NaN,1.0,0.0,1,0,29,29,29
28,5,6,1.0,1.0,0.0,5.0,1193,34,170,121,...,344,13,NaN,1.0,0.0,1,0,29,29,29
29,5,7,1.0,1.0,0.0,6.0,1193,34,170,121,...,344,13,NaN,1.0,0.0,1,0,29,29,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99168,24557,6,1.0,0.0,0.0,0.0,97,169,NaN,681,...,402,62,NaN,0.0,0.0,2,0,13,1,13
99169,24558,6,1.0,0.0,0.0,0.0,4229,162,NaN,681,...,NaN,62,NaN,0.0,0.0,1,0,13,1,13
99170,24558,6,1.0,1.0,0.0,1.0,4229,162,NaN,577,...,NaN,22,NaN,0.0,0.0,1,0,13,1,13
99171,24558,0,1.0,3.0,0.0,4.0,4229,162,NaN,145,...,NaN,30,169,0.0,0.0,1,0,13,1,13
99172,24558,7,1.0,3.0,0.0,5.0,4229,162,NaN,499,...,NaN,30,169,0.0,1.0,1,0,13,1,14
99173,24558,5,0.0,3.0,0.0,6.0,4229,162,NaN,680,...,NaN,30,169,0.0,1.0,1,0,13,1,14
99174,24559,5,0.0,0.0,0.0,1.0,1455,169,NaN,703,...,402,62,NaN,0.0,0.0,2,0,13,1,13
99175,24560,5,0.0,0.0,0.0,1.0,5041,169,NaN,703,...,402,62,NaN,0.0,0.0,2,0,14,1,14
99176,24561,6,1.0,0.0,0.0,0.0,5041,169,NaN,681,...,402,62,NaN,0.0,0.0,2,0,14,1,14
99177,24561,5,0.0,0.0,0.0,1.0,5041,169,NaN,703,...,402,62,NaN,0.0,0.0,2,0,14,1,14
99178,24562,6,1.0,0.0,0.0,0.0,58,169,NaN,681,...,402,62,NaN,0.0,0.0,2,0,14,1,14
99179,24562,5,0.0,0.0,0.0,1.0,58,169,NaN,703,...,402,62,NaN,0.0,0.0,2,0,14,1,14
99180,24563,5,0.0,0.0,0.0,1.0,901,169,NaN,703,...,402,62,NaN,0.0,0.0,2,0,15,1,15
99181,24564,0,1.0,0.0,0.0,0.0,5116,200,NaN,681,...,360,55,194,0.0,0.0,1,0,15,1,15
99182,24564,7,1.0,0.0,0.0,1.0,5116,200,NaN,94,...,360,55,194,0.0,1.0,1,0,15,1,17
99183,24564,5,0.0,0.0,0.0,2.0,5116,200,NaN,94,...,360,55,194,0.0,1.0,1,0,15,1,17
99184,24565,5,0.0,0.0,0.0,1.0,932,169,NaN,703,...,402,62,NaN,0.0,0.0,2,0,15,1,15
99185,24566,6,1.0,0.0,0.0,0.0,2304,15,NaN,681,...,352,65,NaN,0.0,0.0,1,0,15,1,15
99186,24566,0,1.0,0.0,0.0,1.0,2304,15,NaN,364,...,352,65,70,0.0,0.0,1,0,15,1,15
99187,24566,0,1.0,1.0,0.0,2.0,2304,15,NaN,498,...,352,14,NaN,0.0,0.0,1,0,15,1,15
99188,24566,0,1.0,1.0,0.0,3.0,2304,15,NaN,623,...,352,14,121,0.0,0.0,1,0,15,1,15
99189,24566,3,1.0,1.0,0.0,4.0,2304,15,NaN,623,...,352,14,121,0.0,0.0,1,0,15,1,15
99190,24566,5,0.0,1.0,0.0,5.0,2304,15,NaN,623,...,352,14,121,0.0,0.0,1,0,15,1,16
99191,24567,0,1.0,0.0,0.0,0.0,165,9,NaN,681,...,360,62,0,0.0,0.0,1,0,16,1,16
99192,24567,0,1.0,1.0,0.0,1.0,165,9,NaN,145,...,360,22,0,0.0,0.0,1,0,16,1,16
99193,24567,7,1.0,1.0,0.0,3.0,165,9,NaN,145,...,360,22,0,0.0,1.0,1,0,16,1,16
99194,24567,5,0.0,1.0,0.0,4.0,165,9,NaN,145,...,360,22,0,0.0,1.0,1,0,16,1,16
99195,24568,0,1.0,0.0,0.0,0.0,165,9,NaN,681,...,360,62,0,0.0,0.0,1,0,16,1,16
99196,24568,0,1.0,1.0,0.0,1.0,165,9,NaN,416,...,360,22,NaN,0.0,0.0,1,0,16,1,16
99197,24568,7,1.0,1.0,0.0,2.0,165,9,NaN,145,...,360,22,0,0.0,1.0,1,0,16,1,16

In [ ]:
#knn imputation for train
encode_train = pd.DataFrame(np.round(imputer.fit_transform(train)),columns = train.columns)

In [ ]:
#instantiate both packages to use
encoder = OrdinalEncoder()
imputer = IterativeImputer(ExtraTreesRegressor())
# create a list of categorical columns to iterate over
cat_cols = ['ID','ID_status','ID_caller','opened_by','Created_by','updated_by','type_contact','location','category_ID','user_symptom','Support_group','support_incharge','notify']

def encode(data):
    '''function to encode non-null data and replace it in the original data'''
    #retains only non-null values
    nonulls = np.array(data.dropna())
    #reshapes the data for encoding
    impute_reshape = nonulls.reshape(-1,1)
    #encode date
    impute_ordinal = encoder.fit_transform(impute_reshape)
    #Assign back encoded values to non-null values
    data.loc[data.notnull()] = np.squeeze(impute_ordinal)
    return data

#create a for loop to iterate through each column in the data
for columns in cat_cols:
    encode(test[columns])

In [180]:
test

,ID,ID_status,active,count_reassign,count_opening,count_updated,ID_caller,opened_by,Created_by,updated_by,...,category_ID,user_symptom,Support_group,support_incharge,Doc_knowledge,confirmation_check,notify,opened_time_d,created_at_d,updated_at_d
0,0,7,1.0,0.0,0.0,2.0,1361,190,141,312,...,44,446,45,NaN,1.0,0.0,0,29,29,29
1,1,6,1.0,0.0,0.0,0.0,1361,114,55,379,...,29,312,61,213,1.0,0.0,0,29,29,29
2,1,0,1.0,1.0,0.0,3.0,1361,114,55,412,...,29,312,14,161,1.0,0.0,0,29,29,29
3,1,7,1.0,1.0,0.0,7.0,1361,114,55,140,...,29,312,14,213,1.0,0.0,0,29,29,3
4,2,6,1.0,0.0,0.0,4.0,3279,190,NaN,65,...,9,312,61,NaN,1.0,0.0,0,29,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42509,19754,5,0.0,0.0,0.0,1.0,1361,160,NaN,487,...,39,368,61,NaN,0.0,0.0,0,13,1,13
42510,19755,6,1.0,0.0,0.0,0.0,4681,160,NaN,472,...,39,368,61,NaN,0.0,0.0,0,14,1,14
42511,19756,6,1.0,0.0,0.0,0.0,838,160,NaN,472,...,39,368,61,NaN,0.0,0.0,0,15,1,15
42512,19757,6,1.0,0.0,0.0,0.0,867,160,NaN,472,...,39,368,61,NaN,0.0,0.0,0,15,1,15
42513,19758,5,0.0,1.0,0.0,3.0,158,9,NaN,100,...,31,327,22,0,0.0,1.0,0,16,1,16

In [181]:
#knn imputation for train
encode_test = pd.DataFrame(np.round(imputer.fit_transform(test)),columns = test.columns)

/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/impute/_iterative.py:603: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  " reached.", ConvergenceWarning)

In [185]:
encode_train

,ID,ID_status,active,count_reassign,count_opening,count_updated,ID_caller,opened_by,Created_by,updated_by,...,user_symptom,Support_group,support_incharge,Doc_knowledge,confirmation_check,impact,notify,opened_time_d,created_at_d,updated_at_d
0,0.0,6.0,1.0,0.0,0.0,0.0,1455.0,200.0,151.0,94.0,...,491.0,46.0,131.0,1.0,0.0,1.0,0.0,29.0,29.0,29.0
1,0.0,7.0,1.0,0.0,0.0,3.0,1455.0,200.0,151.0,585.0,...,491.0,46.0,96.0,1.0,0.0,1.0,0.0,29.0,29.0,29.0
2,0.0,5.0,0.0,0.0,0.0,4.0,1455.0,200.0,151.0,681.0,...,491.0,46.0,109.0,1.0,0.0,1.0,0.0,29.0,29.0,3.0
3,1.0,0.0,1.0,1.0,0.0,1.0,1455.0,120.0,58.0,94.0,...,344.0,14.0,164.0,1.0,0.0,1.0,0.0,29.0,29.0,29.0
4,1.0,0.0,1.0,1.0,0.0,2.0,1455.0,120.0,58.0,94.0,...,344.0,14.0,164.0,1.0,0.0,1.0,0.0,29.0,29.0,29.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99193,24567.0,7.0,1.0,1.0,0.0,3.0,165.0,9.0,161.0,145.0,...,360.0,22.0,0.0,0.0,1.0,1.0,0.0,16.0,1.0,16.0
99194,24567.0,5.0,0.0,1.0,0.0,4.0,165.0,9.0,161.0,145.0,...,360.0,22.0,0.0,0.0,1.0,1.0,0.0,16.0,1.0,16.0
99195,24568.0,0.0,1.0,0.0,0.0,0.0,165.0,9.0,159.0,681.0,...,360.0,62.0,0.0,0.0,0.0,1.0,0.0,16.0,1.0,16.0
99196,24568.0,0.0,1.0,1.0,0.0,1.0,165.0,9.0,161.0,416.0,...,360.0,22.0,71.0,0.0,0.0,1.0,0.0,16.0,1.0,16.0
99197,24568.0,7.0,1.0,1.0,0.0,2.0,165.0,9.0,161.0,145.0,...,360.0,22.0,0.0,0.0,1.0,1.0,0.0,16.0,1.0,16.0

In [186]:
encode_test

,ID,ID_status,active,count_reassign,count_opening,count_updated,ID_caller,opened_by,Created_by,updated_by,...,category_ID,user_symptom,Support_group,support_incharge,Doc_knowledge,confirmation_check,notify,opened_time_d,created_at_d,updated_at_d
0,0.0,7.0,1.0,0.0,0.0,2.0,1361.0,190.0,141.0,312.0,...,44.0,446.0,45.0,127.0,1.0,0.0,0.0,29.0,29.0,29.0
1,1.0,6.0,1.0,0.0,0.0,0.0,1361.0,114.0,55.0,379.0,...,29.0,312.0,61.0,213.0,1.0,0.0,0.0,29.0,29.0,29.0
2,1.0,0.0,1.0,1.0,0.0,3.0,1361.0,114.0,55.0,412.0,...,29.0,312.0,14.0,161.0,1.0,0.0,0.0,29.0,29.0,29.0
3,1.0,7.0,1.0,1.0,0.0,7.0,1361.0,114.0,55.0,140.0,...,29.0,312.0,14.0,213.0,1.0,0.0,0.0,29.0,29.0,3.0
4,2.0,6.0,1.0,0.0,0.0,4.0,3279.0,190.0,141.0,65.0,...,9.0,312.0,61.0,87.0,1.0,0.0,0.0,29.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42509,19754.0,5.0,0.0,0.0,0.0,1.0,1361.0,160.0,97.0,487.0,...,39.0,368.0,61.0,107.0,0.0,0.0,0.0,13.0,1.0,13.0
42510,19755.0,6.0,1.0,0.0,0.0,0.0,4681.0,160.0,98.0,472.0,...,39.0,368.0,61.0,112.0,0.0,0.0,0.0,14.0,1.0,14.0
42511,19756.0,6.0,1.0,0.0,0.0,0.0,838.0,160.0,97.0,472.0,...,39.0,368.0,61.0,108.0,0.0,0.0,0.0,15.0,1.0,15.0
42512,19757.0,6.0,1.0,0.0,0.0,0.0,867.0,160.0,97.0,472.0,...,39.0,368.0,61.0,108.0,0.0,0.0,0.0,15.0,1.0,15.0
42513,19758.0,5.0,0.0,1.0,0.0,3.0,158.0,9.0,150.0,100.0,...,31.0,327.0,22.0,0.0,0.0,1.0,0.0,16.0,1.0,16.0

In [190]:
print('Train :\n',encode_train.isnull().sum(),'\n\nTest:\n',encode_test.isnull().sum())

Train :
 ID                    0
ID_status             0
active                0
count_reassign        0
count_opening         0
count_updated         0
ID_caller             0
opened_by             0
Created_by            0
updated_by            0
type_contact          0
location              0
category_ID           0
user_symptom          0
Support_group         0
support_incharge      0
Doc_knowledge         0
confirmation_check    0
impact                0
notify                0
opened_time_d         0
created_at_d          0
updated_at_d          0
dtype: int64

Test:
 ID                    0
ID_status             0
active                0
count_reassign        0
count_opening         0
count_updated         0
ID_caller             0
opened_by             0
Created_by            0
updated_by            0
type_contact          0
location              0
category_ID           0
user_symptom          0
Support_group         0
support_incharge      0
Doc_knowledge         0
confirmation_check    0
impact                0
notify                0
opened_time_d         0
created_at_d          0
updated_at_d          0
dtype: int64

In [191]:
print('Train :\n',encode_train.info(),'\n\nTest:\n',encode_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99198 entries, 0 to 99197
Data columns (total 23 columns):
ID                    99198 non-null float64
ID_status             99198 non-null float64
active                99198 non-null float64
count_reassign        99198 non-null float64
count_opening         99198 non-null float64
count_updated         99198 non-null float64
ID_caller             99198 non-null float64
opened_by             99198 non-null float64
Created_by            99198 non-null float64
updated_by            99198 non-null float64
type_contact          99198 non-null float64
location              99198 non-null float64
category_ID           99198 non-null float64
user_symptom          99198 non-null float64
Support_group         99198 non-null float64
support_incharge      99198 non-null float64
Doc_knowledge         99198 non-null float64
confirmation_check    99198 non-null float64
impact                99198 non-null float64
notify                99198 non-null float64
opened_time_d         99198 non-null float64
created_at_d          99198 non-null float64
updated_at_d          99198 non-null float64
dtypes: float64(23)
memory usage: 17.4 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42514 entries, 0 to 42513
Data columns (total 22 columns):
ID                    42514 non-null float64
ID_status             42514 non-null float64
active                42514 non-null float64
count_reassign        42514 non-null float64
count_opening         42514 non-null float64
count_updated         42514 non-null float64
ID_caller             42514 non-null float64
opened_by             42514 non-null float64
Created_by            42514 non-null float64
updated_by            42514 non-null float64
type_contact          42514 non-null float64
location              42514 non-null float64
category_ID           42514 non-null float64
user_symptom          42514 non-null float64
Support_group         42514 non-null float64
support_incharge      42514 non-null float64
Doc_knowledge         42514 non-null float64
confirmation_check    42514 non-null float64
notify                42514 non-null float64
opened_time_d         42514 non-null float64
created_at_d          42514 non-null float64
updated_at_d          42514 non-null float64
dtypes: float64(22)
memory usage: 7.1 MB
Train :
 None

Test:
 None

In [182]:
#see this how imputaion happen campare with below one
encode_train.ID_status.value_counts()

0.0    27076
6.0    25515
7.0    18158
5.0    17387
3.0    10235
4.0      493
2.0      307
1.0       27
Name: ID_status, dtype: int64

In [ ]:
Active                27077
New                   25515
Resolved              18158
Closed                17387
Awaiting User Info    10235
Awaiting Vendor         493
Awaiting Problem        307
Awaiting Evidence        26
Name: ID_status, dtype: int64